{% extends "base.html" %}
{% load static %}
{% block content %}
    <nav class="navbar second-navbar navbar-expand-sm" style="background-color: #E6DCD3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Left links -->
            <ul class="navbar-nav flex-row">

                <li class="nav-item me-2 me-lg-0">
                    <h2>
                        <a href="{% url 'home_page' %}" role="button"
                           style="color: #75736B; text-decoration:none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                 height="32"
                                 fill="currentColor" class="bi bi-caret-left-fill"
                                 viewBox="0 0 16 16">
                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>

                            MENU

                        </a>
                    </h2>
                </li>

            </ul>
            <!-- Left links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item" style="font-size: 35px; color:#75736B; margin-left: 100px"><b>KALENDARZ OBECNOŚCI</b></li>
                </ul>
            </div>
            {% if perms.director.is_director %}
                <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item" style="font-size: 35px; ">
                        <a href="{% url 'kid_details' kid.id %}" style="text-decoration: none;color:#75736B;">{{ kid }}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
        <!-- Container wrapper -->
    </nav>
    <link rel="stylesheet" href="{% static 'calendar.css' %}">
    <form method="POST" action="">
    {% csrf_token %}
    <a href="{% url 'calendar' kid.id month_previous year_previous %}">previous</a>
    <a href="{% url 'calendar' kid.id month_next year_next %}">next</a>
        {{ cal }}


        <div class="card" style="display: none" id="wholeDrop">
            <h5 class="card-title">Zaznacz obecnosc:</h5>
            {% if perms.director.is_director %}
                <div class="card-body" id="dropdownMenu">
                <div class="form-group">
                    <div class="form-check" id="options">
                        <label>
                            <input type="radio" name="presence"
                                   value="Obecnosc"
                                   checked>
                            <img src=""
                                 width="64" height="64"
                                 alt="Obecnosc">

                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check" id="options">
                        <label>
                            <input type="radio" name="presence"
                                   value="Nieobecnosc"
                                   checked>
                            <img src=""
                                 width="64" height="64"
                                 alt="Nieobecnosc">

                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check" id="options">
                        <label>
                            <input type="radio" name="presence"
                                   value="Planowana nieobecnosc"
                                   checked>
                            <img src=""
                                 width="64" height="64"
                                 alt="Planowana nieobecnosc">
                            <input type="hidden" value="{{ perms.director }}" id="user">
                        </label>
                    </div>
                </div>
            {% elif perms.teacher.is_teacher %}
                <div class="card-body" id="dropdownMenu">
                <div class="form-group">
                    <div class="form-check" id="options">
                        <label>
                            <input type="radio" name="presence"
                                   value="Obecnosc"
                                   checked>
                            <img src=""
                                 width="64" height="64"
                                 alt="Obecnosc">

                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check" id="options">
                        <label>
                            <input type="radio" name="presence"
                                   value="Nieobecnosc"
                                   checked>
                            <img src=""
                                 width="64" height="64"
                                 alt="Nieobecnosc">
                            <input type="hidden" value="{{ perms.teacher }}" id="user">
                        </label>
                    </div>
                </div>

            {% elif perms.parent.is_parent %}
                <div class="form-group">
                    <div class="form-check" id="options">
                        <label>
                            <input type="radio" name="presence"
                                   value="Planowana nieobecnosc"
                                   checked>
                            <img src=""
                                 width="64" height="64"
                                 alt="Planowana nieobecnosc">
                            <input type="hidden" value="{{ perms.parent }}" id="user">

                        </label>
                    </div>
                </div>

            {% endif %}

            <div class="form-group">
                <input type="hidden" value="{{ day_current }}" id="currentDay">
            </div>
            <div class="d-flex justify-content-end pt-3">
                <button type="submit" class="btn btn-warning btn-lg ms-2">Ustaw
                </button>
            </div>

            </div>
            </div>
        </div>


    </form>
    <script src="{% static 'calendar.js' %}"></script>

{% endblock %}