{% extends "base.html" %}

{% block content %}


    <!-- =============================== -->
    <!--     Niezalogowany użytkownik     -->
    <!-- =============================== -->
    {% if not user.is_authenticated %}
        {% include "public/homepage_guest.html" %}
    {% else %}

    <!-- =============================== -->
    <!--     Panel nauczyciela           -->
    <!-- =============================== -->
    {% if active_role == 'teacher' %}
        {% include "dashboards/teacher_dashboard.html" %}

    <!-- =============================== -->
    <!--     Panel dyrektora             -->
    <!-- =============================== -->
    {% elif active_role == 'director' %}
        {% include "dashboards/director_dashboard.html" %}

    <!-- =============================== -->
    <!--     Panel rodzica               -->
    <!-- =============================== -->
    {% elif active_role == 'parent' %}
        {% include "dashboards/parent_dashboard.html" %}
    {% else %}
        <div class="p-8 text-center bg-white rounded-2xl border border-dashed border-gray-300">
            <p class="text-gray-500 font-bold uppercase tracking-widest text-xs">Wybierz profil z menu na górze, aby wyświetlić dane.</p>
        </div>
    {% endif %}

    {% endif %}

{% endblock %}
