{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'post_list_static.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->


    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {% for post in posts %}

        <!-- ==============================================
        Hero
        =============================================== -->
        <section class="hero">
            <div class="container mb-2">
                <div class="row">

                    <div class="col-lg-6 offset-lg-3">

                        <div class="cardbox shadow-lg bg-white">

                            <div class="cardbox-heading">
                                <!-- START dropdown-->
                                <div class="dropdown float-right">
                                    <button class="btn btn-flat btn-flat-icon" type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <em class="fa fa-ellipsis-h"></em>
                                    </button>
                                    <div class="dropdown-menu dropdown-scale dropdown-menu-right"  role="menu"
                                         style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" href="{% url 'post_detail_view' post.id %}">Details</a>
                                        <a class="dropdown-item" href="#">Stop following</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div><!--/ dropdown -->
                                <div class="media m-0">
                                    <div class="d-flex mr-3">
                                        <a href="#"><img
                                                class="img-fluid rounded-circle"
                                                src="/media/events_foto/teacher_women.jpeg"
                                                alt="User"></a>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">{{ post.author }}</p>
                                        <small><span><i class="icon ion-md-pin"></i> {{ post.title }}</span></small>
                                        <small><span><i
                                                class="icon ion-md-time"></i> {{ post.date_posted }}</span></small>
                                    </div>
                                </div><!--/ media -->
                            </div><!--/ cardbox-heading -->

                            <div class="cardbox-item text-center">
                                {{ post.content }}
                                {% if post.image %}
                                    <img class="img-fluid" src="{{ post.image.path }}">
                                {% endif %}
                            </div><!--/ cardbox-item -->

                            <div class="cardbox-comments">

                            </div><!--/ cardbox-like -->

                        </div><!--/ cardbox -->

                    </div><!--/ col-lg-6 -->

                </div><!--/ row -->
            </div><!--/ container -->
        </section>
    {% endfor %}
{% endblock %}