{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="">
        <div class="container-fluid">
            <div class="row">

                <div class="col vh-100" style="background-color: white; ">

                    {% if perms.director.is_director or perms.teacher.is_teacher %}

                        <form method="POST" action="{% url 'post_list_view' %}">
                            {% csrf_token %}
                            {{ form.director }}
                            {{ form.author }}
                            {{ form.is_active.as_hidden }}
                            <div class="col mt-5 mb-3">

                                <div class="dropdown">
                                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                                       href="#"
                                       id="navbarDropdownMenuAvatar"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false"
                                       style="font-size: 20px;  text-decoration:none; color: #75736B; ">
                                        GRUPY
                                    </a>
                                    <ul
                                            class="dropdown-menu dropdown-menu-start"
                                            aria-labelledby="navbarDropdownMenuAvatar"
                                    >

                                        {{ form.group|as_crispy_field }}


                                    </ul>
                                </div>


                                {{ form.content|as_crispy_field }}
                                <button type="submit" class="btn" style="color: white; background-color: #75736B;">Post
                                </button>
                            </div>
                        </form>
                    {% endif %}
                    <img style="position: absolute; margin-left: -20%; bottom: 0"
                         src="{% static 'trawa z kwiatkami.jpg' %}"
                         alt="zdjecie"
                    >

                </div>
                <div class="col-lg-8 vh-100 ml-3 justify-content-center"
                     style="background-color: #E6DCD3; color: #8D847B;">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}"
                                 style="color: white; text-align: center; font-size: 30px;">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="justify-content-center">
                        <form class="d-flex" method="POST" action="{% url 'post_search' %}"
                              style="border: 7px solid #BAB1AB;border-radius: 25px; width: auto; margin-left: auto; margin-top: 20px">
                            {% csrf_token %}
                            <input class="form-control" type="search" placeholder="Wpisz słowo klucz "
                                   aria-label="Wpisz imie dziecka" name="search">
                            <span><button class="btn " type="submit"
                                          style="margin-left: -8px; background-color: #BAB1AB; color: white">SZUKAJ</button></span>
                        </form>
                    </div>
                    {% for post in page_obj %}
                        <div class="card mt-4">
                            <div class="row mt-2 mb-2">
                                <div class="col-sm-2 mb-3 mb-sm-0">

                                    {% if post.author.director %}
                                        {% if post.author.director.gender == 2 %}

                                            <img src="{% static 'DYREKTORKA.jpg' %}" alt=""
                                                 style="height: 150px; display: block; margin-left: auto; margin-right: auto">
                                        {% elif post.author.director.gender == 1 %}
                                            <img src="{% static 'DYREKTOR.jpg' %}" alt=""
                                                 style="height: 150px; display: block; margin-left: auto; margin-right: auto">
                                        {% else %}
                                            <img src="{% static 'gander_null.jpg' %}" alt=""
                                                 style="height: 150px; display: block; margin-left: auto; margin-right: auto">

                                        {% endif %}
                                    {% elif post.author.employee %}
                                        {% if post.author.employee.gender == 2 %}
                                            <img class="img"
                                                 style="height: 150px; display: block; margin-left: auto; margin-right: auto"
                                                 src="{% static 'employee_female.jpg' %}"
                                                 alt="">
                                        {% elif post.author.employee.gender == 1 %}
                                            <img class="img"
                                                 style="height: 150px; display: block; margin-left: auto; margin-right: auto"
                                                 src="{% static 'employee_male.jpg' %}"
                                                 alt="">
                                        {% else %}
                                            <img class="img"
                                                 style="height: 150px; display: block; margin-left: auto; margin-right: auto"
                                                 src="{% static 'gander_null.jpg' %}"
                                                 alt="">
                                        {% endif %}
                                    {% endif %}

                                </div>

                                <div class="col">

                                    <div class="card-body" style="color: #75736B">
                                        <div class="row">
                                            <div class="col-9">
                                                <small class="card-title" style="color: #75736B">
                                                    {{ post.author }}, {{ post.date_posted }},
                                                    {% for group in post.group.all %}
                                                        {{ group }},
                                                    {% endfor %}
                                                </small>
                                            </div>
                                            <div class="col">
                                                {% if post.author == user %}
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                                                           href="#"
                                                           id="navbarDropdownMenuAvatar"
                                                           role="button"
                                                           data-bs-toggle="dropdown"
                                                           aria-expanded="false"
                                                           style="font-size: 20px;  text-decoration:none; color: #75736B; ">
                                                            Opcje
                                                        </a>
                                                        <ul
                                                                class="dropdown-menu dropdown-menu-start"
                                                                aria-labelledby="navbarDropdownMenuAvatar"
                                                        >
                                                            <li>
                                                                <a href="{% url 'post_update' pk=post.id %}"
                                                                   class="dropdown-item">Zmiana wydarzenia
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <form method="POST"
                                                                      action="{% url 'post_delete' pk=post.id %}">
                                                                    {% csrf_token %}
                                                                    <button class="dropdown-item"
                                                                            type="submit"
                                                                            name="delete"
                                                                            value="Usuń"
                                                                            onclick="return confirm('Jestes pewny ze chcesz usunac wydarzenie');"
                                                                    >Usuń wydarzenie
                                                                    </button>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            </div>

                                        </div>

                                        <h2 class="card-text mt-2">
                                            {{ post }}


                                        </h2>
                                    </div>


                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if page_obj.has_other_pages %}
                        <div class="pagination justify-content-center">
                            {% if page_obj.has_previous %}

                                <a class="btn mb-4" href="?page={{ page_obj.previous_page_number }}"
                                   style=" font-size: 50px; color:#75736B">< </a>
                            {% else %}
                                <a class="btn mb-4" href="?page={{ page_obj.paginator.num_pages }}"
                                   style=" font-size: 50px; color:#75736B">< </a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <a class="btn mb-4" href="?page={{ num }}"
                                       style=" font-size: 50px; color:#75736B">{{ num }}</a>
                                {% endif %}

                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a class="btn mb-4" href="?page={{ page_obj.next_page_number }}"
                                   style=" text-decoration: none; font-size: 50px; color:#75736B"> ></a>
                            {% else %}

                                <a class="btn mb-4" href="?page=1"
                                   style=" font-size: 50px; color:#75736B"> > </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>


{% endblock %}