{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="">
        <div class="container-fluid">
            <div class="row">

                <div class="col vh-100" style="background-color: white; ">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% if perms.director.is_director %}
                        {% endif %}
                    </form>
                    <img style="position: absolute; margin-left: -10%; bottom: 0"
                         src="{% static 'trawa z kwiatkami.jpg' %}"
                         alt="zdjecie"
                    >

                </div>
                <div class="col-lg-8 vh-100 ml-3" style="background-color: #E6DCD3; color: #8D847B;">
                    {% for post in page_obj %}
                    {% endfor %}

                </div>
            </div>
        </div>

    </section>


{% endblock %}