{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'input_foucs.css' %}">
    <nav class="navbar second-navbar navbar-expand-sm" style="background-color: #E6DCD3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Left links -->
            <ul class="navbar-nav justify-content-start">

                <li class="nav-item me-2 me-lg-0">
                    <h2>
                        <a href="{% url 'home_page' %}" role="button"
                           style="color: #75736B; text-decoration:none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                 height="32"
                                 fill="currentColor" class="bi bi-caret-left-fill"
                                 viewBox="0 0 16 16">
                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>

                            MENU

                        </a>
                    </h2>
                </li>

            </ul>
            <!-- Left links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!-- Left links -->
                <ul class="navbar-nav mb-2">
                    <li class="nav-item" style="font-size: 35px; color:#75736B; margin-left: -25%"><b>LISTA
                        OBECNOŚCI</b></li>
                </ul>
            </div>

        </div>
        <!-- Container wrapper -->
    </nav>
    {% if perms.director.is_director %}
        <div class="justify-content-center">
            <form class="d-flex" method="POST" action=""
                  style="border: 7px solid #BAB1AB;border-radius: 25px; width: 50%; margin-left: 22%; margin-top: 20px">
                {% csrf_token %}
                <input class="form-control" type="search" placeholder="Wpisz imie dziecka"
                       aria-label="Wpisz imie dziecka" name="search">
                <span><button class="btn " type="submit"
                              style="margin-left: -8px; background-color: #BAB1AB; color: white">SZUKAJ</button></span>
            </form>
        </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for kid, presence in dict.items %}


            <div class="container-fluid mb-1 mt-5"
                 style="background-color: white">
                <div class="row align-item-end" style="padding-top: 10px;">
                    <div class="col mb-3 mr-2"
                         style="justify-content: end">
                        {% if kid.gender == 2 %}
                            <img class="img"
                                 style="height: 150px;"
                                 src="{% static 'girl.jpg' %}"
                                 alt="">
                        {% else %}
                            <img class="img"
                                 style="height: 150px; margin-left: 3%; margin-right: 2%"
                                 src="{% static 'boy.jpg' %}"
                                 alt="">
                        {% endif %}
                    </div>
                    <div class="col-7 md-5 mt-5 ml-5">

                        <a href="{% url 'kid_details' pk=kid.id %}"
                           style="font-size: 20px; text-decoration:none; color: #75736B ">{{ kid.first_name.title }} {{ kid.last_name.title }}</a>

                    </div>
                    <div class="col-3 mt-5  ml-5">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {% if perms.teacher.is_teacher or perms.director.is_director %}
                                {% if presence.presenceType == 2 %}

                                    <label>
                                        <input type="submit" value="{{ kid.id }}1" name="data"
                                               style="background-image: url('{% static 'check2-square.svg' %}'); background-color: white; border: none; width: 50px; height: 50px; font-size: 0"
                                               onclick="return confirm('Jestes pewny ze chcesz cofnąć obecność dziecka {{ kid }}');"
                                        >

                                    </label>
                                {% elif presence.presenceType == 3 %}
                                    <b style="color: #BAF3F5 ; border: solid 1px #BAF3F5; font-size: 20px">ZAPLANOWANA
                                        NIEOBECNOŚĆ</b>
                                {% else %}

                                    <label>
                                        <input type="submit" value="{{ kid.id }}2" name="data"
                                               style="background-image: url('{% static 'x-square.svg' %}'); background-color: white; border: none; width: 50px; height: 50px; font-size: 0">

                                    </label>

                                {% endif %}
                            {% elif perms.parent.is_parent %}
                                <label>
                                    <input type="submit" value="{{ kid.id }}3" name="data"
                                           style="background-image: url('{% static 'nieobecnosc-2.jpg' %}'); border: none; width: 293px; height: 85px; font-size: 0">

                                </label>
                            {% endif %}
                        </form>

                    </div>

                    <div class="col mt-5">

                        <div class="drodown">
                            <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                               href="#"
                               id="navbarDropdownMenuAvatar"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false"
                               style="font-size: 20px;  text-decoration:none; color: #75736B; ">
                                Opcje
                            </a>
                            <ul
                                    class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="navbarDropdownMenuAvatar"
                            >
                                <li>
                                    <a href="{% url 'kid_details' pk=kid.id %}"
                                       class="dropdown-item">Konto
                                        dziecka
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'calendar' kid.id month year %}"
                                       class="dropdown-item">Kalendarz
                                    </a>
                                </li>
                                {% if perms.director.is_director %}
                                    <li>
                                        <a href="{% url 'change_kid_info' pk=kid.id %}"
                                           class="dropdown-item">Zmien
                                            informacje</a>
                                    </li>
                                    <li>
                                        <form method="POST"
                                              action="{% url 'kid_delete' pk=kid.id %}">
                                            {% csrf_token %}
                                            <button class="dropdown-item"
                                                    type="submit"
                                                    name="delete"
                                                    value="Usuń"
                                                    onclick="return confirm('Jestes pewny ze chcesz usunac dziecko {{ kid }}');"
                                            >Usuń dziecko
                                            </button>
                                        </form>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

        {% endfor %}
    </form>

    {% if page_obj.has_other_pages %}
        <div style="position: absolute; bottom: auto; left:45%">
            {% if page_obj.has_previous %}

                <a class="btn mb-4" href="?page={{ page_obj.previous_page_number }}"
                   style=" font-size: 50px; color:#75736B">< </a>
            {% else %}
                <a class="btn mb-4" href="?page={{ page_obj.paginator.num_pages }}"
                   style=" font-size: 50px; color:#75736B">< </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn mb-4" href="?page={{ num }}"
                       style=" font-size: 50px; color:#75736B">{{ num }}</a>
                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn mb-4" href="?page={{ page_obj.next_page_number }}"
                   style=" text-decoration: none; font-size: 50px; color:#75736B"> ></a>
            {% else %}

                <a class="btn mb-4" href="?page=1"
                   style=" font-size: 50px; color:#75736B"> > </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}