{% extends "base.html" %}
{% load static %}
{% block content %}
    <form method="POST" action="">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-error" style="background-color: red; color: black">
                    {{ message }}
                </div>
            {% endfor %}

        {% endif %}
        {% csrf_token %}
        {{ today }}
        {% for kid in kids %}
            {{ kid }}

            <input type="submit" value="{{ kid.id.as_hidden }} Obecny" name="data">

        {% endfor %}
        <h1>Liczba obecnych dzieci {{ kids_presence.count }}</h1>
        <h1>Liczba nieobecnych dzieci {{ kids_absent.count }}</h1>
        <h1>Liczba planowanych nieobecnych dzieci {{ kids_planned_absent.count }}</h1>
    </form>
    <script src="{% static 'calendar.js' %}"></script>
{% endblock %}