{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'input_foucs.css' %}">
    <nav class="navbar second-navbar navbar-expand-sm" style="background-color: #E6DCD3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Left links -->
            <ul class="navbar-nav flex-row">

                <li class="nav-item me-2 me-lg-0">
                    <h2>
                        <a href="{% url 'home_page' %}" role="button"
                           style="color: #75736B; text-decoration:none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                 height="32"
                                 fill="currentColor" class="bi bi-caret-left-fill"
                                 viewBox="0 0 16 16">
                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>

                            MENU

                        </a>
                    </h2>
                </li>

            </ul>
            <!-- Left links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: 5%">
                    <li class="nav-item" style="font-size: 35px; color:#75736B;"><b>GRUPY</b></li>
                </ul>
            </div>
            {% if perms.director.is_director %}
                <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item">
                        <button class="btn" onclick="location.href='{% url 'add_group' %}'"
                                style="font-size: 25px; color: white; background-color: #75736B; text-decoration:none;">
                            DODAJ GRUPĘ
                        </button>
                    </li>
                </ul>
            {% endif %}
        </div>
        <!-- Container wrapper -->
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"
                 style="color: white; text-align: center; font-size: 30px">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container" style="margin-top: 85px;">
        <div class="row row-cols-1 row-cols-md-3  g-4">
            {% for group in page_obj %}


                <div class="col-2 mt-4">
                    <div class="card"
                         style="background-color: #BAB1AB; border-color: #BAB1AB; height: 600px; width: 400px;">
                        <div class="card-body text-white">
                            <div class="card-image mt-5">
                                <article class="photo" style="text-align: center">
                                    <img src="{{ group.photo }}" alt="zdjecie"
                                         style="text-align: center; height: 300px;">
                                </article>
                            </div>
                            <div class="col-4 mt-5">
                                <div class="text-align-center">
                                    <article style="text-align: center; bottom: 0">
                                        <h3>
                                            <button type="button" class="btn"
                                                    style="position: absolute;font-size: 20px; color:
                                                    white; background-color: #75736B; text-decoration:none; width: 250px; height: 80px;
                                                     bottom: 5%; left: auto; right: auto"
                                                    onclick="location.href='{% url 'group_details' pk=group.id %}'"
                                            >{{ group.name }}</button>
                                        </h3>
                                    </article>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            {% endfor %}
        </div>
    </div>



    <div style="display: flex;">
        {% if page_obj.has_previous %}

            <a class="btn mb-4" href="?page={{ page_obj.previous_page_number }}"
               style="position: absolute;font-size: 100px; color:#75736B; left: 0; bottom: 30%">
                <svg xmlns="http://www.w3.org/2000/svg" width="200"
                     height="200"
                     fill="currentColor" class="bi bi-caret-left-fill"
                     viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
            </a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn mb-4" href="?page={{ page_obj.next_page_number }}"
               style="position: absolute;font-size: 100px; color:#75736B; right: 0; bottom: 30%">
                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor"
                     class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </a>
        {% endif %}
    </div>
{% endblock %}