{% extends "base.html" %}
{% load static %}
{% block content %}
    <nav class="navbar second-navbar navbar-expand-sm" style="background-color: #E6DCD3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Left links -->
            <ul class="navbar-nav flex-row">

                <li class="nav-item me-2 me-lg-0">
                    <h2>
                        <a href="{% url 'list_meals' %}" role="button"
                           style="color: #75736B; text-decoration:none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                 height="32"
                                 fill="currentColor" class="bi bi-caret-left-fill"
                                 viewBox="0 0 16 16">
                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>

                            PLANY ŻYWIENIOWE

                        </a>
                    </h2>
                </li>

            </ul>
            <!-- Left links -->
            <div class="collapse navbar-collapse justify-content-center align-item-center" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0" style="align-items: center">
                    <li class="nav-item" style="font-size: 35px; color:#75736B;"><b>{{ meal.name }}</b></li>
                </ul>
            </div>
            {% if perms.director.is_director %}
                <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item">
                        <button class="btn" onclick="location.href='{% url 'meals_update' pk=meal.id %}'"
                                style="font-size: 25px; color: white; background-color: #75736B; text-decoration:none;">
                            EDYTUJ PLAN
                        </button>
                    </li>
                </ul>
            {% endif %}
        </div>
        <!-- Container wrapper -->
    </nav>


    {% csrf_token %}
    <div class="container" style="margin-top: 85px">
        <div class="row gutters">
            <div class="col-12" style='margin-left: -15%; '>
                <div class="card" style="background-color: #BAB1AB; border-color: #BAB1AB;">
                    <div class="card-body text-white" style="height: 750px">
                        <div class="col mt-4">
                            <div class="form-group">

                                <label class="mb-2" for="birth"
                                       style="font-size: 50px; margin-left: 20px">OPIS</label>
                                <label class="mb-2" for="per_day"
                                       style="font-size: 25px; position: absolute; right: 18%">
                                    DZIENNA OPŁATA ŻYWIENIOWA:
                                </label>
                                <input id="per_day" class="form-control"
                                       style="position: absolute; right: 2%; width: 15%; top: 5%;font-size: 20px"
                                       value="{{ meal.per_day }} zł" readonly>
                                <br>
                                <h4 style="text-align: start; margin-top: 20px; margin-left: 20px">

                                    {{ meal.description }}
                                </h4>

                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
    <form method="post" action="{% url 'meals_delete' meal.id %}">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Jestes pewny ze chcesz usunac posiłek {{ meal }}');">
            <img src="{% static 'SMIETNIK.jpg' %}" alt="usun"
                 style="position: absolute; right: 12%; bottom: 7%; height:20%">
        </button>
    </form>


{% endblock %}