:root {
  --link-color: #ff6600;
  --light-link-color: #fffffa;
  --background-color: #4b4c4a;
  --lighter-background-color: #5a615f;
  --lighter-text-color: #9fa292;
  --dark-text: #000000;
  --blue: #007bff;
  --yellow: #ffc107;
  --green: #1e7e34;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;

}

p {
  font-size: 1.2rem;
}

.bg-light {
background: #EAEAEA;
}

.noPadding {
  padding: 0;
}
.noMargin {
  margin: 0;
}
.center {
  text-align: center;
}
.btn-color {
  background-color: var(--link-color);
  color: var(--light-link-color);
  font-weight: 600;
  font-size: 20px;
  padding: 8px 18px;
}
.btn-color a {
  text-decoration: none;
  color: var(--light-link-color);
}

.btn-color:hover {
  opacity: .8;
}
.label-size {
  font-size: 1.4rem;
  color: var(--background-color);
}
hr {
  border: 0;
  margin-bottom: 4px;
  clear:both;
  display:block;
  width: 100%;
  background-color:var(--background-color);
  height: 1px;
}

.border-dashed{
  border: .5px dashed  var(--lighter-background-color);
  background: var(--light-link-color);
 }

 .borderless td, .borderless th {
  border: none;
}

.border-3 {
  border-width:3px !important;
  border-bottom-color: #cacaca !important;
}

.view-height {
  min-height: 82.9vh;
}

.text-color-darker {
  color: var(--background-color);
}

.text-color-lighter {
  color: var(--lighter-text-color);
}

.color-header {
  color: var(--link-color);
}

.nav-link.color-header {
  color: var(--link-color) !important;
}

.width-medium {
width: 90% !important;
margin: 0 auto !important;
}

/*------------------------------*/
/*---- Paddings ----*/
/*------------------------------*/

.padding-large {
  padding: 150px 0;
}

.padding-medium {
  padding: 80px 0;
}

.padding-small {
  padding: 40px 0;
}

/*------------------------------*/
/*---- Main nav section ----*/
/*------------------------------*/

.page-header {
  background: var(--background-color);
}

.nav-link {
  color: var(--light-link-color)!important;
  font-size: 1.1rem;
}

.page-header .nav .nav-item .active,
.page-header .nav .nav-item a:hover{
    color: var(--link-color)!important;
}

.main-logo {
  font-family: "Charmonman", cursive;
  display: inline-block;
  color: var(--light-link-color)!important;
  margin-top: 10px;
  font-size: 2.7rem;
  font-weight: 600;
}

.main-logo-smaller {
  font-size: 2rem;
}

.main-logo span {
  color: var(--link-color);
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}




.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}