{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'input_foucs.css' %}">
    <nav class="navbar second-navbar navbar-expand-sm" style="background-color: #E6DCD3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Left links -->
            <ul class="navbar-nav flex-row">

                <li class="nav-item me-2 me-lg-0">
                    <h2>
                        <a href="{% url 'home_page' %}" role="button"
                           style="color: #75736B; text-decoration:none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                 height="32"
                                 fill="currentColor" class="bi bi-caret-left-fill"
                                 viewBox="0 0 16 16">
                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>

                            MENU

                        </a>
                    </h2>
                </li>

            </ul>
            <!-- Left links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: 5%">
                    <li class="nav-item" style="font-size: 35px; color:#75736B;"><b>IKONKI</b></li>
                </ul>
            </div>
            {% if perms.director.is_director %}
                <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item">
                        <button class="btn" onclick="location.href='{% url 'photo_add' %}'"
                                style="font-size: 25px; color: white; background-color: #75736B; text-decoration:none;">
                            DODAJ IKONKĘ
                        </button>
                    </li>
                </ul>
            {% endif %}
        </div>
        <!-- Container wrapper -->
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"
                 style=" color: white; text-align: center; font-size: 30px">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% for photo in page_obj %}


        <div class="container-fluid mb-1 mt-5"
             style="background-color: white">
            <div class="row align-item-center" style="padding-top: 10px; font-size: 30px; color: #75736B;">
                <div class="col-3 mb-3 ml-3"
                     style="justify-content: start;">

                    <img src="{{ photo }}">

                </div>
                <div class="col-2  mt-5">
                    {{ photo.name }}

                </div>
                <div class="col"></div>
                <div class="col-3  mt-5">
                    {% if photo.meal_photos %}
                        DO PLANÓW ŻYWIENIOWYCH
                    {% else %}
                        DO GRUP
                    {% endif %}

                </div>
                <div class="col"></div>

                <div class="col mt-5">

                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                           href="#"
                           id="navbarDropdownMenuAvatar"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false"
                           style="  text-decoration:none; color: #75736B; ">
                            Opcje
                        </a>
                        <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="navbarDropdownMenuAvatar"
                        >

                            {% if perms.director.is_director %}
                                <li>
                                    <form method="POST"
                                          action="{% url 'photo_delete' pk=photo.id %}">
                                        {% csrf_token %}
                                        <button class="dropdown-item"
                                                type="submit"
                                                name="delete"
                                                value="Usuń"
                                                onclick="return confirm('Jestes pewny ze chcesz usunac dziecko {{ photo }}');"
                                        >Usuń
                                        </button>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>

    {% endfor %}
    {% if page_obj.has_other_pages %}
        <div style="position: absolute; bottom: auto; left:45%">
            {% if page_obj.has_previous %}

                <a class="btn mb-4" href="?page={{ page_obj.previous_page_number }}"
                   style=" font-size: 50px; color:#75736B">< </a>
            {% else %}
                <a class="btn mb-4" href="?page={{ page_obj.paginator.num_pages }}"
                   style=" font-size: 50px; color:#75736B">< </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn mb-4" href="?page={{ num }}"
                       style=" font-size: 50px; color:#75736B">{{ num }}</a>
                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn mb-4" href="?page={{ page_obj.next_page_number }}"
                   style=" text-decoration: none; font-size: 50px; color:#75736B"> ></a>
            {% else %}

                <a class="btn mb-4" href="?page=1"
                   style=" font-size: 50px; color:#75736B"> > </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}