{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'kids.css' %}">

    <div class="container mt-3 mb-4 center">
        <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="col d-flex justify-content-end mb-2 noPadding">
                <a href="{% url 'home_page' %}" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                        <div class="card-header d-flex justify-content-between align-items-center mb-2">
                            <h5 class="mb-0">Lista zdjec</h5>
                            <a href="{% url 'photo_add' %}" class="btn btn-light btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    <path fill-rule="evenodd"
                                          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                                Dodaj

                            </a>
                        </div>
                        <table class="table manage-candidates-top mb-0">
                            <thead>
                            <tr>
                                <th>Zdjecie</th>
                                <th class="text-center">Rodzaj</th>
                                <th class="action text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for photo in group_photos %}




                                <tr class="candidates-list">
                                    <td class="title">
                                        <div class="thumb">
                                            <img class="img-fluid"
                                                 src="{{ photo.group_photos.url }}"
                                                 alt="">
                                        </div>
                                    </td>

                                    <td class="candidate-list-favourite-time text-center">

                                        do grup

                                    </td>

                                    <td>
                                        <div class="drodown">

                                            <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                                               href="#"
                                               id="navbarDropdownMenuAvatar"
                                               role="button"
                                               data-bs-toggle="dropdown"
                                               aria-expanded="false">
                                                <img
                                                        src="{{ user.profilemodel.image.url }}"
                                                        class="rounded-circle"
                                                        height="30"
                                                        alt="Action"
                                                        loading="lazy"
                                                />
                                            </a>
                                            <ul
                                                    class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="navbarDropdownMenuAvatar"
                                            >
                                                <li>
                                                    <form method="POST" action="{% url 'photo_delete' pk=photo.id %}">
                                                        {% csrf_token %}
                                                        <button class="dropdown-item" type="submit" name="delete"
                                                                value="1"
                                                                onclick="return confirm('Jestes pewny że chcesz usunąć zdjęcie {{ photo.name }}?');"
                                                        >Usuń
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}
                            {% for photo in meal_photos %}




                                <tr class="candidates-list">
                                    <td class="title">
                                        <div class="thumb">
                                            <img class="img-fluid"
                                                 src="{{ photo.meal_photos.url }}"
                                                 alt="">
                                        </div>
                                    </td>

                                    <td class="candidate-list-favourite-time text-center">

                                        do posilkow

                                    </td>

                                    <td>
                                        <div class="drodown">

                                            <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                                               href="#"
                                               id="navbarDropdownMenuAvatar"
                                               role="button"
                                               data-bs-toggle="dropdown"
                                               aria-expanded="false">
                                                <img
                                                        src="{{ user.profilemodel.image.url }}"
                                                        class="rounded-circle"
                                                        height="30"
                                                        alt="Action"
                                                        loading="lazy"
                                                />
                                            </a>
                                            <ul
                                                    class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="navbarDropdownMenuAvatar"
                                            >
                                                <li>
                                                    <form method="POST" action="{% url 'photo_delete' pk=photo.id %}">
                                                        {% csrf_token %}
                                                        <button class="dropdown-item" type="submit" name="delete"
                                                                value="2"
                                                                onclick="return confirm('Jestes pewny że chcesz usunąć zdjęcie {{ photo.name }}?');"
                                                        >Usuń
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}