{% extends "base.html" %}
{% load static %}
{% block content %}
    <form method="post" action="#" enctype='multipart/form-data'>
        {% csrf_token %}
        <section class="h-100 bg-dark">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl-block">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                         alt="Sample photo" class="img-fluid"
                                         style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"/>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card-body p-md-5 text-black">
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-{{ message.tags }}">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="row">
                                            <div class="col mb-4">
                                                <h3 class="text-uppercase d-flex justify-content-start">Dodaj
                                                    icokne</h3>
                                            </div>
                                            <div class="col mb-4">
                                                <div class="d-flex justify-content-end noPadding">
                                                    <a href="{% url 'photos_list' %}"
                                                       class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">

                                                <label class="form-label" for="form3Example1n">Typ iconki</label>
                                                 <select class="form-select form-select-lg" name="type" >
                                                        <option value="group">Iconka do grup</option>
                                                        <option value="meal">Iconka do posilkow</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <label class="form-label" for="role">Zdjecie:</label>
                                                <input class="form-control" type="file" name="file">
                                            </div>


                                        </div>

                                        <div class="d-flex justify-content-end pt-3">
                                            <button type="submit" class="btn btn-warning btn-lg ms-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-envelope-fill"
                                                     viewBox="0 0 16 16">
                                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                                                </svg>
                                                <i class="bi bi-envelope-fill"></i>Add
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <script src="{% static 'group.js' %}"></script>
{% endblock %}