{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        body {
            background-color: #E9DAD7;
        }
    </style>
    <img src="{% static  'add_form_picture.jpg' %}" alt="" style="position: absolute; bottom: 0; left: -5% ">
    <form method="post" action="#">
        {% csrf_token %}
        <section class="h-100">

            <div class="container py-5 h-100" style="width: 40%; float: right; margin-right: 35px">
                <div class="row d-flex h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col">
                                    <div class="card-body p-md-5" style="color: #75736B">
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-{{ message.tags }}"
                                                     style="background-color: #FF5F57; color: white; text-align: center; font-size: 30px">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="row">
                                            <div class="col mb-4">
                                                <div class="d-flex justify-content-start noPadding">
                                                    <h2>
                                                        <a href="{% url 'list_teachers' %}"
                                                           style="text-decoration: none; color: #75736B;">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                                                 height="32"
                                                                 fill="currentColor" class="bi bi-caret-left-fill"
                                                                 viewBox="0 0 16 16">
                                                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                                            </svg>
                                                            POWRÓT</a>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="col mb-4">
                                                <h2 class="text-uppercase d-flex justify-content-end"
                                                    style="color: #75736B">Dodaj
                                                    Pracownika</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">

                                                <label class="form-label" for="form3Example1n">Email
                                                    nauczyciela:</label>
                                                <input type="email" id="form3Example1n"
                                                       class="form-control form-control-lg" name="email"/>
                                            </div>
                                            <div class="col-md-6 mb-4">

                                                <label class="form-label" for="role">Posada:</label>
                                                <select class="form-select form-select-lg" name="role" id="id_role">
                                                    {% for role in roles %}
                                                        <option value="{{ role.0 }}">{{ role.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>


                                        </div>
                                        <div class="row">


                                            <div class="col-md-6 mb-4">

                                                <label class="form-label" for="salary">Miesieczne wynagrodzenie:</label>
                                                <input type="number" id="salary" min="1"
                                                       class="form-control form-control-lg" name="salary"/>
                                            </div>

                                            <div class="col-md-6 mb-4" id="group" style="display: none">
                                                <label class="mr-2 mb-2">Wybierz grupe:</label><br>
                                                <select class="form-select form-select-lg" name="group">
                                                    {% for group in groups %}
                                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-end pt-3">
                                            <button type="submit" class="btn"
                                                    style="background-color: #75736B; color: white; width: 35%">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-envelope-fill"
                                                     viewBox="0 0 16 16">
                                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                                                </svg>
                                                <i class="bi bi-envelope-fill"></i>WYŚLIJ ZAPROSZENIE
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <script src="{% static 'group.js' %}"></script>
{% endblock %}