{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <nav class="navbar second-navbar navbar-expand-sm" style="background-color: #E6DCD3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Left links -->
            <ul class="navbar-nav flex-row">

                <li class="nav-item me-2 me-lg-0">
                    <h2>
                        <a href="{% url 'home_page' %}" role="button"
                           style="color: #75736B; text-decoration:none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                 height="32"
                                 fill="currentColor" class="bi bi-caret-left-fill"
                                 viewBox="0 0 16 16">
                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>

                            MENU

                        </a>
                    </h2>
                </li>

            </ul>
            <!-- Left links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: 5%">
                    <li class="nav-item" style="font-size: 35px; color:#75736B;"><b>PROFIL NAUCZYCIELA</b></li>
                </ul>
            </div>
            {% if perms.director.is_director or perms.teacher.is_teacher %}
                <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item">
                        <button class="btn" onclick="location.href='{% url 'teacher_update' pk=employee.id %}'"
                                style="font-size: 25px; color: white; background-color: #75736B; text-decoration:none;">
                            EDYTUJ PROFIL
                        </button>
                    </li>
                </ul>
            {% endif %}
        </div>
        <!-- Container wrapper -->
    </nav>

    <form method="post" action="#">
        {% csrf_token %}
        <div class="container" style="margin-top: 85px">
            <div class="row gutters">
                <div class="col-6 mt-5" style="margin-left: -25%">
                    <div class="card h-100 border-0">
                        <div class="card-body">
                            <figure>
                                {% if employee.gender == 2 %}
                                    <img src="{% static 'employee_female.jpg' %}" alt=""
                                         style="height: 80%; display: block; margin-left: auto; margin-right: auto">
                                {% elif employee.gender == 1 %}
                                    <img src="{% static 'employee_male.jpg' %}" alt=""
                                         style="height: 80%; display: block; margin-left: auto; margin-right: auto">
                                {% else %}
                                    <img src="{% static 'gander_null.jpg' %}" alt=""
                                         style="height: 80%; display: block; margin-left: auto; margin-right: auto">
                                {% endif %}
                                {% if employee.first_name and employee.last_name %}
                                    <figcaption
                                            style="text-align: center; margin-top: 20px; font-size: 50px">{{ employee.first_name }} {{ employee.last_name }}
                                        {% if perms.teacher.is_teacher %}
                                            <button type="button" class="btn me-3"
                                                    style="color: white; background-color: #8D847B; width: 50%; height: 70px; font-size: 30px; margin-top: 2%"
                                                    onclick="location.href='{% url 'password_change' %}'">
                                                <b>ZMIEŃ HASŁO</b>
                                            </button>
                                        {% endif %}
                                    </figcaption>

                                {% endif %}
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card h-100" style="background-color: #BAB1AB; border-color: #BAB1AB">
                        <div class="card-body text-white">
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="birth">E-MAIL:</label>
                                        <input class="form-control" style="font-size: 20px" name="birth"
                                               type="text"
                                               id="birth"
                                               value="{{ employee }}" readonly>
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="gender">NR KONTAKTOWY:</label>
                                        {% if employee.phone %}
                                            <input class="form-control" style="font-size: 20px" name="gender"
                                                   type="text"
                                                   id="gender"
                                                   value="{{ employee.phone }}" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px" name="gender"
                                                   type="text"
                                                   id="gender"
                                                   value="Brak dancyh" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="group">ADRES ZAMIESZKANIA:</label>
                                        {% if employee.address %}
                                            <input class="form-control" style="font-size: 20px" name="gender"
                                                   type="text"
                                                   id="gender"
                                                   value="{{ employee.address }}" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px" name="gender"
                                                   type="text"
                                                   id="gender"
                                                   value="Brak dancyh" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="start">MIASTO:</label>
                                        {% if employee.city %}
                                            <input class="form-control" style="font-size: 20px" name="gender"
                                                   type="text"
                                                   id="gender"
                                                   value="{{ employee.city }}" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px" name="gender"
                                                   type="text"
                                                   id="gender"
                                                   value="Brak dancyh" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="zip_code">KOD POCZTOWY:</label>
                                        {% if employee.zip_code %}
                                            <input class="form-control" style="font-size: 20px" name="zip_code"
                                                   type="text"
                                                   id="zip_code"
                                                   value="{{ employee.zip_code }}" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px" name="end"
                                                   type="text"
                                                   id="zip_code"
                                                   value="Brak danych" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-6" style="margin-right: -60%">
                    <div class="card h-100" style="background-color: #BAB1AB; border-color: #BAB1AB">
                        <div class="card-body text-white">
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="payment">POSADA:</label>
                                        {% if employee.role %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="payment"
                                                   type="text" id="payment"
                                                   value="{{ employee.get_role_display }}" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="payment"
                                                   type="text" id="payment"
                                                   value="Brak danych" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="per_month">GRUPA:</label>
                                        {% if employee.group %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="per_month"
                                                   type="text" id="per_month"
                                                   value="{{ employee.group }}" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="per_month"
                                                   type="text" id="per_month"
                                                   value="Brak danych" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            {% if perms.director.is_director or perms.teacher.is_teacher %}
                                <div class="col mt-4">
                                    <div class="form-group">
                                        <h3>
                                            <label class="mb-2" for="to_pay">MIESIĘCZNE WYNAGRODZENIE:</label>
                                            {% if employee.salary %}
                                                <input class="form-control" style="font-size: 20px"
                                                       name="to_pay"
                                                       type="text" id="to_pay"
                                                       value="{{ employee.salary }} zł" readonly>
                                            {% else %}
                                                <input class="form-control" style="font-size: 20px"
                                                       name="to_pay"
                                                       type="text" id="to_pay"
                                                       value="0 zł" readonly>
                                            {% endif %}
                                        </h3>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </form>

{% endblock %}