{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <form method="post" action="#">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container mt-4 text-color-darker">
            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="account-settings text-color-darker">
                                <div class="user-profile">
                                    <div class="user-avatar text-color-darker">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256"
                                             fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                        </svg>
                                    </div>
                                    <label for="user-name">Imie:</label>
                                    <h5 class="user-name" id="user-name">{{ employee.first_name }}</h5>
                                    <label class="user-email" for="user-surname">Nazwisko:</label>
                                    <h5 class="user-email" id="user-surname">{{ employee.last_name }}</h5>
                                </div>
                                <div class="about">
                                    <h5 class="mb-2 text-primary">Info</h5>
                                    <p>This is your account as a employee </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2 d-flex justify-content-between">

                                    <div class="">
                                        <h6 class="mb-3 text-primary">Personal Details</h6>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary"
                                                onclick="location.href='{% url 'teacher_update' pk=employee.id %}'">
                                            Zmien informacje
                                        </button>
                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="address">Adres zamieszkania</label>
                                        {% if employee.address %}
                                            <input readonly class="form-control" name="phone" type="text"
                                                   value="{{ employee.address }}">
                                        {% else %}
                                            <input readonly class="form-control" name="phone" type="text"
                                                   value="Nie zostal podany">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="address">Kod pocztowy</label>
                                        {% if employee.zip_code %}
                                            <input readonly class="form-control" name="phone" type="text"
                                                   value="{{ employee.zip_code }}">
                                        {% else %}
                                            <input readonly class="form-control" name="phone" type="text"
                                                   value="Nie zostaly podany">
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">
                                    <div class="form-group">
                                        <label for="phone">Miasto zamieszkania</label>
                                        {% if employee.city %}
                                            <input readonly class="form-control" name="phone" type="text"
                                                   value="{{ employee.city }}">
                                        {% else %}
                                            <input readonly class="form-control" name="phone" type="text"
                                                   value="Nie zostalo podane">
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">
                                    <div class="form-group">
                                        <label for="phone">Numer telefonu</label>
                                        {% if employee.phone %}
                                            <input readonly class="form-control" name="phone" type="text"
                                                   value="{{ employee.phone }}">
                                        {% else %}
                                            <input readonly class="form-control" name="phone" type="text"
                                                   value="Nie zostal podany">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">
                                    <div class="form-group">
                                        <label for="phone">Posada</label>

                                        <input readonly class="form-control" name="phone" type="text"
                                               value="{{ employee.get_role_display }}">


                                    </div>
                                </div>

                                {% if employee.group.all %}
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">

                                        <div class="form-group">
                                            <label for="group">Grupa nauczyciela</label>
                                            {% for group in employee.group.all %}
                                                <input readonly class="form-control" name="group" type="text"
                                                       value="{{ group.name }}">
                                            {% endfor %}
                                        </div>

                                    </div>
                                {% endif %}
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">

                                    <div class="form-group">
                                        <label for="email">Adres email</label>
                                        <input readonly class="form-control" name="email" type="text"
                                               value="{{ employee.user.email }}">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">

                                    <div class="form-group">
                                        <label for="payment">Miesieczne wynagrodzenie</label>
                                        <input readonly class="form-control" name="payment" type="text"
                                               value="{{ employee.salary }} zł">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


    </form>
{% endblock %}