{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'input_foucs.css' %}">
    <nav class="navbar second-navbar navbar-expand-sm" style="background-color: #E6DCD3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Left links -->
            <ul class="navbar-nav flex-row">

                <li class="nav-item me-2 me-lg-0">

                    <a href="{% url 'home_page' %}" role="button"
                       style="font-size: 25px; color: #75736B; text-decoration:none;">

                        MENU
                    </a>
                </li>

            </ul>
            <!-- Left links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: 5%">
                    <li class="nav-item" style="font-size: 35px; "><a href="{% url 'list_teachers' %}"
                                                                      style="text-decoration: none; color:#75736B;"><b>KADRA</b></a>
                    </li>
                </ul>
            </div>
            {% if perms.director.is_director %}
                <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item">
                        <button class="btn" onclick="location.href='{% url 'add_teacher' %}'"
                                style="font-size: 25px; color: white; background-color: #75736B; text-decoration:none;">
                            DODAJ NAUCZYCIELA
                        </button>
                    </li>
                </ul>
            {% endif %}
        </div>
        <!-- Container wrapper -->
    </nav>
    {% if perms.director.is_director %}
        <div class="justify-content-center">
            <form class="d-flex" method="POST" action="#"
                  style="border: 7px solid #BAB1AB;border-radius: 25px; width: 50%; margin-left: 22%; margin-top: 20px">
                {% csrf_token %}
                <input class="form-control" type="search" placeholder="Wpisz mail"
                       aria-label="Wpisz imie dziecka" name="search">
                <span><button class="btn " type="submit"
                              style="margin-left: -8px; background-color: #BAB1AB; color: white">SZUKAJ</button></span>
            </form>
        </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-error" style="background-color: red; color: black">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}
    {% for teacher in page_obj %}


        <div class="container-fluid mt-3"
             style="background-color: white">
            <div class="row align-item-center" style="padding-top: 10px;">
                <div class="col mb-1"
                     style="justify-content: start">
                    {% if teacher.gender == 2 %}
                        <img class="img"
                             style="height: 150px;"
                             src="{% static 'employee_female.jpg' %}"
                             alt="">
                    {% elif teacher.gender == 1 %}
                        <img class="img"
                             style="height: 150px; margin-left: 3%; margin-right: 2%"
                             src="{% static 'employee_male.jpg' %}"
                             alt="">
                    {% else %}
                        <img class="img"
                             style="height: 150px; margin-left: 3%; margin-right: 2%"
                             src="{% static 'gander_null.jpg' %}"
                             alt="">
                    {% endif %}
                </div>
                <div class="col-8" style="margin-top: 80px">

                    <a href="{% url 'teacher-profile' pk=teacher.id %}"
                       style="font-size: 20px; text-decoration:none; color: #75736B ">{{ teacher.user.email }}</a>

                </div>
                <div class="col-2 ml-5"
                     style="font-size: 20px; text-decoration:none; color: #75736B; margin-top: 80px ">

                    {% if teacher.first_name and teacher.last_name %}
                        {{ teacher.first_name.title }} {{ teacher.last_name.title }}
                    {% endif %}

                </div>
                <div class="col" style="margin-top: 80px">

                    <div class="drodown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                           href="#"
                           id="navbarDropdownMenuAvatar"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false"
                           style="font-size: 20px;  text-decoration:none; color: #75736B; ">
                            Opcje
                        </a>
                        <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="navbarDropdownMenuAvatar"
                        >
                            <li>
                                <a href="{% url 'teacher-profile' pk=teacher.id %}"
                                   class="dropdown-item">PROFIL

                                </a>
                            </li>
                            {% if perms.director.is_director %}
                                <li>

                                    <form method="POST"
                                          action="{% url 'teacher_delete' pk=teacher.id %}">
                                        {% csrf_token %}
                                        <button class="dropdown-item"
                                                type="submit"
                                                name="delete"
                                                value="Usuń"
                                                onclick="return confirm('Jestes pewny ze chcesz usunac pracownika {{ teacher.user.email }}');"
                                        >USUŃ
                                        </button>

                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <hr>
            </div>

        </div>


    {% endfor %}


    <div style="display: flex; justify-content: center; align-items: center; ">
        {% if page_obj.has_previous %}

            <a class="btn mb-4" href="?page={{ page_obj.previous_page_number }}"
               style="display: inline-block; font-size: 50px; color:#75736B">< </a>
        {% else %}
            <a class="btn mb-4" href="?page={{ page_obj.paginator.num_pages }}"
               style="display: inline-block; font-size: 50px; color:#75736B">< </a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn mb-4" href="?page={{ num }}"
                   style="display: inline-block; font-size: 50px; color:#75736B">{{ num }}</a>
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn mb-4" href="?page={{ page_obj.next_page_number }}"
               style="display: inline-block; text-decoration: none; font-size: 50px; color:#75736B"> ></a>
        {% else %}

            <a class="btn mb-4" href="?page=1"
               style="display: inline-block; font-size: 50px; color:#75736B"> > </a>
        {% endif %}
    </div>




{% endblock %}