{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'carousel.css' %}">
    <nav class="navbar second-navbar navbar-expand-sm" style="background-color: #E6DCD3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Left links -->
            <ul class="navbar-nav flex-row">

                <li class="nav-item me-2 me-lg-0">

                    <a href="{% url 'home_page' %}" role="button"
                       style="font-size: 25px; color: #75736B; text-decoration:none;">

                        MENU
                    </a>
                </li>

            </ul>
            <!-- Left links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: 5%">
                    <li class="nav-item" style="font-size: 35px; color:#75736B;"><b>GRUPY</b></li>
                </ul>
            </div>

            <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item">
                    <button class="btn" onclick="location.href='{% url 'add_group' %}'"
                            style="font-size: 25px; color: white; background-color: #75736B; text-decoration:none;">
                        DODAJ GRUPĘ
                    </button>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <div class="container text-center">
        <div class="row" style="margin-top: 12%">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    {% for group in groups %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                                <div class="col-md-3">
                                    <div class="card" style="background-color: #BAB1AB; height: 450px">
                                        <div class="card-body">
                                            <div class="card-img mt-5">
                                                <img src="{{ group.photo.first }}" style="height: 225px"
                                                     class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="card-text" style="margin-bottom: 20%">
                                            <button class="btn" style="background-color: #E6DCD3; color: #75736B"
                                                    onclick="location.href='{% url 'group_details' pk=group.id %}'">
                                                <b>{{ group.name.upper }}</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <div class="col-md-3">
                                    <div class="card" style="background-color: #BAB1AB; height: 450px">
                                        <div class="card-body">
                                            <div class="card-img mt-5">
                                                <img src="{{ group.photo.first }}" style="height: 225px"
                                                     class="rounded-circle">
                                            </div>
                                        </div>
                                        <div class="card-text" style="margin-bottom: 20%">
                                            <button class="btn" style="background-color: #E6DCD3; color: #75736B"
                                                    onclick="location.href='{% url 'group_details' pk=group.id %}'">
                                                <b>{{ group.name.upper }}</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                <button class="carousel-control-prev bg-transparent w-aut" style="margin-left: -9%;"
                        data-bs-target="#recipeCarousel"
                        type="button" data-bs-slide="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor"
                         style="color: black"
                         class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>

                </button>
                <button class="carousel-control-next bg-transparent w-aut" data-bs-target="#recipeCarousel"
                        type="button" data-bs-slide="next" style="margin-right: -9%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor"
                         style="color: black"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <script src="{% static 'carousel.js' %}"></script>
{% endblock %}