{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        body {
            background-color: #E9DAD7;
        }
    </style>
    <img src="{% static  'add_form_picture.jpg' %}" alt="" style="position: absolute; bottom: 0; left: -5% ">
    <form method="post" action="#">
        {% csrf_token %}
        <section class="h-100">

            <div class="container py-5 h-100" style="width: 40%; float: right; margin-right: 35px">
                <div class="row d-flex h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">

                                <div class="col" style="color: #75736B">
                                    <div class="card-body p-md-5 ">
                                        {% if form.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.errors }}
                                            </div>
                                        {% endif %}
                                        <div class="row">

                                            <div class="col mb-4">
                                                <div class="d-flex justify-content-start noPadding">
                                                    <h2>
                                                        <a href="{% url 'list_kids' %}"
                                                           style="text-decoration: none; color: #75736B;">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                                                 height="32"
                                                                 fill="currentColor" class="bi bi-caret-left-fill"
                                                                 viewBox="0 0 16 16">
                                                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                                            </svg>
                                                            POWRÓT</a>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="col mb-4">
                                                <h2 class="text-uppercase d-flex justify-content-end"
                                                    style="color: #75736B">Dodaj
                                                    Dziecko</h2>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    {{ form.principal }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="form-group col-lg-6">
                                                {{ form.first_name|as_crispy_field }}

                                            </div>

                                            <div class="form-group col-lg-6">
                                                {{ form.last_name|as_crispy_field }}
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                {{ form.payment_plan|as_crispy_field }}

                                            </div>
                                            <div class="col-md-6 mb-4">
                                                {{ form.gender|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                {{ form.kid_meals|as_crispy_field }}
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    {% if form.group %}
                                                        {{ form.group|as_crispy_field }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                {{ form.date_of_birth|as_crispy_field }}

                                            </div>
                                        </div>
                                        <div class="form-outline mb-4">
                                            {{ form.start|as_crispy_field }}
                                            <div>
                                                <label class="form-check-label mb-0 me-4" for="mySwitch">Umowa na czas
                                                    nieokteślony:</label>

                                                <div class="form-check form-switch">

                                                    <input class="form-check-input" type="checkbox" id="mySwitch"
                                                           onclick="myFunction()"
                                                           name="indefinite" value="yes">

                                                </div>
                                            </div>
                                            <div id="end">
                                                {{ form.end|as_crispy_field }}
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="d-flex justify-content-end pt-3">
                                                <button type="submit" class="btn"
                                                        style="background-color: #75736B; color: white; width: 35%">
                                                    DODAJ
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <script src="{% static 'checkbox.js' %}"></script>
{% endblock %}
