{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <nav class="navbar second-navbar navbar-expand-sm" style="background-color: #E6DCD3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Left links -->
            <ul class="navbar-nav flex-row">

                <li class="nav-item me-2 me-lg-0">
                    <h2>
                        <a href="{% url 'group_details' pk=kid.group.id %}" role="button"
                           style="color: #75736B; text-decoration:none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                 height="32"
                                 fill="currentColor" class="bi bi-caret-left-fill"
                                 viewBox="0 0 16 16">
                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>

                            {{ kid.group }}

                        </a>
                    </h2>
                </li>

            </ul>
            <!-- Left links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: 5%">
                    <li class="nav-item" style="font-size: 35px; color:#75736B;"><b>DANE DZIECKA</b></li>
                </ul>
            </div>
            {% if perms.director.is_director %}
                <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item">
                        <button class="btn" onclick="location.href='{% url 'change_kid_info' pk=kid.id %}'"
                                style="font-size: 25px; color: white; background-color: #75736B; text-decoration:none;">
                            EDYTUJ PROFIL
                        </button>
                    </li>
                </ul>
            {% endif %}
        </div>
        <!-- Container wrapper -->
    </nav>

    <form method="post" action="#">
        {% csrf_token %}
        <div class="container" style="margin-top: 85px">
            <div class="row gutters">
                <div class="col-6" style="margin-left: -25%">
                    <div class="card h-100" style="background-color: #BAB1AB; border-color: #BAB1AB">
                        <div class="card-body text-white">
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="birth">DATA URODZENIA:</label>
                                        <input class="form-control" style="font-size: 20px" name="birth"
                                               type="text"
                                               id="birth"
                                               value="{{ kid.date_of_birth }}" readonly>
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="gender">PŁEĆ:</label>
                                        <input class="form-control" style="font-size: 20px" name="gender"
                                               type="text"
                                               id="gender"
                                               value="{{ kid.get_gender_display }}" readonly>
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="group">GRUPA:</label>
                                        {% if kid.group %}
                                            <input class="form-control" style="font-size: 20px" name="group"
                                                   type="text"
                                                   id="group"
                                                   value="{{ kid.group.name }}" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px" name="group"
                                                   type="text"
                                                   id="group"
                                                   value="Brak, edytuj profil by dodać" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="start">POCZĄTEK UMOWY:</label>
                                        <input class="form-control" style="font-size: 20px" name="start"
                                               type="text"
                                               id="start"
                                               value="{{ kid.start }}" readonly>
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="end">KONIEC UMOWY:</label>
                                        {% if kid.end %}
                                            <input class="form-control" style="font-size: 20px" name="end"
                                                   type="text"
                                                   id="end"
                                                   value="{{ kid.end }}" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px" name="end"
                                                   type="text"
                                                   id="end"
                                                   value="Na czas nieokreślony" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card h-100 border-0">
                        <div class="card-body">
                            <figure>
                                {% if kid.gender == 2 %}
                                    <img src="{% static 'girl.jpg' %}" alt="" style="height: 50%">
                                {% else %}
                                    <img src="{% static 'boy.jpg' %}" alt=""
                                         style="height: 80%; display: block; margin-right: auto; margin-left: auto">
                                {% endif %}
                                <figcaption
                                        style="text-align: center; margin-top: 20px; font-size: 50px">{{ kid }}</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>


                <div class="col-6" style="margin-right: -60%">
                    <div class="card h-100" style="background-color: #BAB1AB; border-color: #BAB1AB">
                        <div class="card-body text-white">
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="payment">PLAN PŁATNICZY:</label>
                                        {% if kid.payment_plan %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="payment"
                                                   type="text" id="payment"
                                                   value="{{ kid.payment_plan }}" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="payment"
                                                   type="text" id="payment"
                                                   value="Brak, edytuj profil by dodać" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="per_month">STAŁY KOSZT MIESIĘCZNY:</label>
                                        {% if kid.payment_plan %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="per_month"
                                                   type="text" id="per_month"
                                                   value="{{ kid.payment_plan.price }} zł" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="per_month"
                                                   type="text" id="per_month"
                                                   value="0 zł" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="to_pay">DO ZAPŁATY W TYM MIESIĄCU:</label>
                                        {% if kid.amount %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="to_pay"
                                                   type="text" id="to_pay"
                                                   value="{{ kid.amount }} zł" readonly>
                                        {% elif kid.payment_plan %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="to_pay"
                                                   type="text" id="to_pay"
                                                   value="{{ kid.payment_plan.price }} zł" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="to_pay"
                                                   type="text" id="to_pay"
                                                   value="0 zł" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="meal">PLAN ŻYWIENIOWY:</label>
                                        {% if kid.kid_meals %}
                                            <input class="form-control" style="font-size: 20px" name="meal"
                                                   type="text" id="meal"
                                                   value="{{ kid.kid_meals }}" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px" name="meal"
                                                   type="text" id="meal"
                                                   value="Brak, edytuj profil by dodać" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <h3>
                                        <label class="mb-2" for="per_day">DZIENNA OPŁATA ŻYWIENIOWA:</label>
                                        {% if kid.kid_meals %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="per_day"
                                                   type="text" id="per_day"
                                                   value="{{ kid.kid_meals.per_day }} zł" readonly>
                                        {% else %}
                                            <input class="form-control" style="font-size: 20px"
                                                   name="per_day"
                                                   type="text" id="per_day"
                                                   value="0 zł" readonly>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </form>
    {% if kid.parenta_set.all %}
        <button class="btn"
                type="button" style="position: absolute; right: -1%; bottom: 40%"
                onclick="location.href='{% url 'kid_parent' pk=kid.id %}'">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor"
                 style="color: black"
                 class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </button>
    {% endif %}



{% endblock %}