{% extends "base.html" %}
{% load static %}
{% block content %}


    <div class="container mt-3 mb-4 center">
        <form class="d-flex" method="POST" action="{% url 'kid-search' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="szukaj po imieniu"
                   aria-label="szukaj po imieniu" name="search">
            <button class="btn btn-outline-secondary" type="submit">Szukaj</button>
        </form>
        <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="col d-flex justify-content-end mb-2 noPadding">
                <a href="{% url 'home_page' %}" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                        <div class="card-header d-flex justify-content-between align-items-center mb-2">
                            <h5 class="mb-0">Lista dzieci</h5>
                            <a href="{% url 'add_kid' %}" class="btn btn-light btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    <path fill-rule="evenodd"
                                          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                                Dodaj

                            </a>
                        </div>
                        <table class="table manage-candidates-top mb-0">
                            <thead>
                            <tr>
                                <th>Imię i Nazwisko Dziecka</th>
                                <th class="text-center">Status</th>
                                <th class="action text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for kid in kids %}




                                <tr class="candidates-list">
                                    <td class="title">
                                        <div class="thumb">
                                            <img class="img-fluid"
                                                 src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                                 alt="">
                                        </div>
                                        <div class="candidate-list-details">
                                            <div class="candidate-list-info">
                                                <div class="candidate-list-title">
                                                    <h5 class="mb-0"><a
                                                            href="#">{{ kid.first_name }} {{ kid.last_name }}</a>
                                                    </h5>
                                                </div>
                                                <div class="candidate-list-option">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <i class="fas fa-filter pr-1"></i>{{ kid.group.name }}
                                                        </li>
                                                        <li>
                                                            <i class="fas fa-filter pr-1"></i>{{ kid.payment_plan.name }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    {% if kid.parenta_set.all %}
                                        <td class="candidate-list-favourite-time text-center"
                                            style="color:green;">
                                            &#9745;<br>
                                            <a class="candidate-list-favourite order-2 text-success"
                                               href="{% url 'invite_parent'  pk=kid.id %}">Dodaj kolejnego
                                                rodzica<i
                                                        class="fas fa-heart"></i></a>
                                        </td>

                                    {% else %}
                                        <td class="candidate-list-favourite-time text-center"
                                            style="color:red;">
                                            &#9746;<br>
                                            <a class="candidate-list-favourite order-2 text-danger"
                                               href="{% url 'invite_parent'  pk=kid.id %}">Dodaj konto rodzica<i
                                                    class="fas fa-heart"></i></a>

                                        </td>
                                    {% endif %}
                                    <td>
                                        <div class="drodown">

                                            <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                                               href="#"
                                               id="navbarDropdownMenuAvatar"
                                               role="button"
                                               data-bs-toggle="dropdown"
                                               aria-expanded="false">
                                                <img
                                                        src="{{ user.profilemodel.image.url }}"
                                                        class="rounded-circle"
                                                        height="30"
                                                        alt="Action"
                                                        loading="lazy"
                                                />
                                            </a>
                                            <ul
                                                    class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="navbarDropdownMenuAvatar"
                                            >
                                                <li>
                                                    <a href="{% url 'kid_details'  pk=kid.id %}"
                                                       class="dropdown-item">View detail</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'change_kid_info'  pk=kid.id %}"
                                                       class="dropdown-item">Change
                                                        info</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'calendar' kid.id %}"
                                                       class="dropdown-item">Calendar</a>
                                                </li>
                                                <li>
                                                    <form method="POST" action="{% url 'kid_delete' pk=kid.id %}">
                                                        {% csrf_token %}
                                                        <button class="dropdown-item" type="submit" name="delete"
                                                                value="Usuń"
                                                                onclick="return confirm('Jestes pewny ze chcesz usunac dziecko {{ kid }} jego rodzic tez moze zostac usuniety');"
                                                        >Usuń
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}