{% extends "base.html" %}
{% block content %}
    <form method="post" action="#">
        {% csrf_token %}
        <section class="h-100 bg-dark">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl-block">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                         alt="Sample photo" class="img-fluid"
                                         style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"/>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card-body p-md-5 text-black">
                                        <h3 class="mb-5 text-uppercase">Zmien informacje</h3>

                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" id="form3Example1m"
                                                           class="form-control form-control-lg" name="first_name"
                                                           placeholder="{{ kid.first_name }}"/>
                                                    <label class="form-label" for="form3Example1m">Imię</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" id="form3Example1n"
                                                           class="form-control form-control-lg" name="last_name"
                                                           placeholder="{{ kid.last_name }}"/>
                                                    <label class="form-label" for="form3Example1n">Nazwisko</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <label class="mr-2">Zmien grupe:</label><br>
                                                <select class="select ml-3" name="group">
                                                    {% for group in groups %}
                                                        {% if group.name == kid.group.name %}
                                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                                        {% else %}
                                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <label class="mr-2">Posilki:</label><br>
                                                <select class="select ml-3" name="meals" multiple>

                                                    {% for group in groups %}
                                                        <option value="{{ group.name }}">{{ group.name }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">


                                        </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <label class="mr-2">Plan płatnosci:</label><br>
                                            <select class="select ml-3" name="plan">

                                                {% for plan in plans %}
                                                    {% if plan.name == kid.payment_plan.name %}
                                                        <option value="{{ plan.id }}">{{ plan.name }}</option>
                                                    {% else %}
                                                        <option value="{{ plan.id }}">{{ plan.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>


                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="submit" class="btn btn-warning btn-lg ms-2">Change
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </form>
{% endblock %}