{% extends "base.html" %}
{% block content %}
    <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary me-3" onclick="location.href={% url 'childrens' %}">
                        Dzieci
                </button>
                <button type="button" class="btn btn-primary me-3" onclick="location.href={% url 'groups' %}">
                        Grupy
                </button>
                <button type="button" class="btn btn-primary me-3" onclick="location.href={% url 'payments_plans' %}">
                        Plany platnicze
                </button>
                <button type="button" class="btn btn-primary me-3" onclick="location.href={% url 'groups' %}">
                        Posilki
                </button>
    </div>
{% endblock %}